<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfxt.me.dao.ClassesDao">
	<select id="selectCname" resultType="com.hfxt.me.entity.Classes">
		SELECT * FROM classes
	</select>
</mapper>